<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create account</h1>
    <form method="POST" action="/create_acc" id="myForm">
        Username: <br><input type="text" name="username" value="{{username}}"><br>
        Password: <br><input type="password" name="password" value="{{password}}"><br>
        Confirm password: <br><input type="password" name="confirm_password" value="{{confirm_password}}"><br>
        <input type="submit" value="Create account">
    </form>

</body>

</html>